/* Imagen de fondo */
.bg-image {
  background-image: url('../../assets/sveta-fedarava-tI_Odb7ZU6M-unsplash.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 20px;
}

/* Contenedor de fondo y modal */
.background-container {
  position: relative;
  width: 100%;
  height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  width: 70%;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.show-modal {
  display: block;
}

/**** Botones ****/
.modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

.close {
  position: absolute;
  top: 10px;
  transform: translateX(-50%);
  right: 15px;
  text-align: left;
  font-size: 24px;
}

.close:hover {
  text-decoration: none;
  cursor: pointer;
  color: #000000;
}

/********/

/**** Progreso de los pasos ****/
/* Contenedor de progreso con línea verde */
.progress-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 40px;
  top: 20px;
}

.progress-indicator::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #00FF2A;
  bottom: -8px;
  left: 0;
}

.step {
  display: flex;
  align-items: center;
}

.step-number {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(185, 184, 184, 0.1);
  color: #f1f1f1; 
  font-weight: bold;
  font-size: 16px;
}

.step-number.completed {
  background-color: #00FF2A;
  color: white;
}

.step-number.active {
  background-color: rgba(0, 255, 42, 0.4);
}

.line {
  height: 2px;
  flex: 1;
  background-color: #00FF2A;
  margin: 0 10px;
}

.line.completed {
  background-color: #00FF2A;
}
/********/

/**** Estilos del formulario ****/
.form-container {
  background: rgba(255, 255, 255, 0.315);
  margin: 5% auto;
  padding: 20px;
  width: 70%;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  max-width: 900px;
  margin-top: -7px;
}

.form-container2 {
  background: rgba(255, 255, 255, 0.315);
  margin: 5% auto;
  padding: 20px;
  width: 70%;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  max-width: 900px;
  margin-top: -7px;
}

/********/

input.form-control,
select.form-control {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

label {
  margin-bottom: 5px;
}

.form-label {
  color: white;
  font-size: 18px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.form-label2 {
  color: white;
  font-size: 30px;

}

.input-group {
  position: relative;
}

.input-group-text {
  position: absolute;
  top: 45%;
  right: 30px;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  pointer-events: none;
}

.position-relative {
  position: relative;
  margin-bottom: 34px;
}

.position-relative1 {
  position: relative;
  top: 5px;
}

.position-relative2 {
  position: relative;
  top: 40px;
  margin-bottom: 80px;
}

.position-relative3 {
  position: relative;
  top: -20px;
}

.position-relative4 {
  position: relative;
  top: 40px;
}

/**** Estilos de los botones ****/

.btn-secondary {
  background-color: #ff0000;
  color: rgb(255, 255, 255);
  border: none;
  margin-right: 10px;
}

.btn-primary {
  background-color: #00FF2A;
  color: rgb(255, 255, 255);
  border: none;
  margin-left: 10px;
}

.btn-success {
  background-color: #00FF2A;
  color: white;
  border: none;
}

.btn-secondary1 {
  background-color: #ff0000;
  color: white;
  border: none;
  position: relative;
}

.btn-success1 {
  background-color: #00FF2A;
  color: white;
  border: none;
  position: relative;
}

.btn-success3 {
  background-color: #00FF2A;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 20px auto;
  display: block;
  border-radius: 8px;
  max-width: 200px;
}

/* Botones */
.button-group {
  display: flex;
  justify-content: space-between;
  top: 45px;
}

.btn {
  padding: 10px 20px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

/********/

.swal-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #721c24;
  text-align: center;
}

.swal-popup {
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

/**** Icono de ver contraseña ****/
.container.forgot-password-form {
  padding: 20px;
  border-radius: 8px;
}

.toggle-password {
  position: absolute;
  right: 15px;
  top: 75%; 
  transform: translateY(-55%);
  cursor: pointer;
  color: #27282a;
}

.toggle-password:hover {
  color: #44E32A;
}
/********/

/* Estilo personalizado para el popup */
.custom-popup {
  background: #f5f7fa;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  transition: transform 0.4s ease-in-out;
}

.custom-popup:hover {
  transform: scale(1.03);
  /* Ligero zoom al pasar el cursor */
}

/* Estilo personalizado para el título */
.custom-title {
  color: #333;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  /* Sombra sutil en el texto */
}

/* Estilo personalizado para el contenido HTML */
.custom-html {
  color: #555;
  font-size: 1.1rem;
  font-family: 'Roboto', sans-serif;
}

.move-down {
  margin-top: 1.5rem;
}

/* Estilo del checkbox y la etiqueta */
.form-check {
  margin-left: 280px;
  top: -40px;
  position: relative;
}

.form-check-input {
  width: 20px;
  height: 20px;
  border: 2px solid #44e328;
  border-radius: 4px;
  transition: border-color 0.3s ease;
  margin-right: 30px;
}

.form-check-input:checked {
  background-color: #44e328;
  border-color: #44e328;
}

.login-text {
  color: #f8f9fa;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.login-link {
  color: #f8f9fa;
  text-decoration: underline;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
}

.login-link:hover {
  text-decoration: none;
}

/**** Term and conditio ****/

.terms-acceptance {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.underline-text {
  color: #f8f9fa;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
  font-weight: bold;
  font-size: 18px;
}

.underline-text:hover {
  color: #f8f9fa;
  text-decoration: none;
  cursor: pointer;
}
/********/

