<!-- Contenedor de fondo con imagen y modal -->
<div class="background-container bg-image">
  <!-- Modal con efecto de desenfoque -->
  <div class="modal-overlay" [ngClass]="{'show': showModal}">
    <div class="modal-content">
      <div class="container forgot-password-form">
        <div class="form-container">
          <!-- Indicador de progreso con 4 pasos -->
          <div class="progress-indicator">
            <div class="step">
              <div [ngClass]="{'step-number': true, 'completed': currentStep > 1, 'active': currentStep === 1}">1</div>
              <div [ngClass]="{'line': true, 'completed': currentStep > 1}"></div>
              <div [ngClass]="{'step-number': true, 'completed': currentStep > 2, 'active': currentStep === 2}">2</div>
              <div [ngClass]="{'line': true, 'completed': currentStep > 2}"></div>
              <div [ngClass]="{'step-number': true, 'completed': currentStep > 3, 'active': currentStep === 3}">3</div>
              <div [ngClass]="{'line': true, 'completed': currentStep > 3}"></div>
              <div [ngClass]="{'step-number': true, 'active': currentStep === 4}">4</div>
            </div>
            <div class="static-line"></div>
          </div>

          <!-- Primer Paso -->
          <div *ngIf="currentStep === 1">
            <h3 class="text-center custom-title">Recuperación de contraseña</h3>
            <form>
              <div class="form-group">
                <div class="col-10">
                <label for="email" class="custom-label">Correo electrónico: </label>
                <input type="email" id="email" class="form-control input-field1" placeholder="Ingresa tu correo"
                  [(ngModel)]="email" name="email" required />
              </div>
            </div>
              

              <!-- Overlay de carga, visible cuando 'loading' está activo -->
              <div *ngIf="loading" class="loading-overlay">
                <div class="spinner-border text-primary" role="status">
                  <span class="sr-only">Cargando...</span>
                </div>
              </div>


              <div class="button-group d-flex justify-content-between">
                <button type="button" class="btn btn-secondary" (click)="confirmExit()">Atrás</button>
                <button type="button" class="btn btn-success" (click)="nextStep()">Enviar código de activación</button>
              </div>
            </form>
          </div>

          <div *ngIf="currentStep === 2">
            <img src="email.ico" alt="" class="move-right-up">
            <h3 class="text-center custom-title">Ingresa el código</h3>
            <form>
              <div class="input-fields">
                <input maxlength="1" type="tel" class="code-input" placeholder="" 
                       (input)="moveToNext($event, 0)" id="code-1">
                <input maxlength="1" type="tel" class="code-input" placeholder="" 
                       (input)="moveToNext($event, 1)" id="code-2">
                <input maxlength="1" type="tel" class="code-input" placeholder="" 
                       (input)="moveToNext($event, 2)" id="code-3">
                <input maxlength="1" type="tel" class="code-input" placeholder="" 
                       (input)="moveToNext($event, 3)" id="code-4">
              </div>
          
              <!-- Overlay de carga -->
              <div *ngIf="loading" class="loading-overlay">
                <div class="spinner-border text-primary" role="status">
                  <span class="sr-only">Cargando...</span>
                </div>
              </div>
          
              <div class="button-group d-flex justify-content-between">
                <button type="button" class="btn btn-secondary1" (click)="confirmExitToStep1()">Atrás</button>
                <button type="button" class="btn btn-success2" 
                        [disabled]="!isCodeComplete" (click)="nextStep()">Enviar</button>
              </div>
            </form>
          </div>
          

          <!-- Tercer Paso (Crear nueva contraseña) -->
          <div *ngIf="currentStep === 3">
            <h3 class="text-center custom-title">Crear nueva contraseña</h3>
            <form class="needs-validation" (ngSubmit)="submitPassword()" novalidate>
              
              <!-- Nueva contraseña -->
              <div class="form-group position-relative">
                <label for="newPassword"  class="custom-label">Nueva contraseña</label>
                <input type="password" id="newPassword" class="form-control"
                  placeholder="Ingresa tu nueva contraseña" [(ngModel)]="newPassword" name="newPassword" required
                  [ngClass]="{
                    'is-valid': newPassword && isValidPassword(newPassword),
                    'is-invalid': newPassword && !isValidPassword(newPassword)
                  }">
                
                <!-- Tooltip de validación exitosa -->
                <div class="valid-tooltip">
                  ¡Se ve bien!
                </div>
                
                <!-- Tooltip de error en validación -->
                <div class="invalid-tooltip">
                  {{ passwordError }}
                </div>
          
                <!-- Icono de ojo para mostrar/ocultar contraseña -->
                <i class="fas fa-eye position-absolute toggle-password"
                  (click)="togglePasswordVisibility('newPassword', 'toggleNewPassword')" id="toggleNewPassword"></i>
              </div>
          
              <!-- Confirmar contraseña -->
              <div class="form-group position-relative">
                <label for="confirmPassword" class="custom-label">Confirmar contraseña</label>
                <input type="password" id="confirmPassword" class="form-control"
                  placeholder="Confirma tu nueva contraseña" [(ngModel)]="confirmPassword" name="confirmPassword" required
                  [ngClass]="{
                    'is-valid': confirmPassword && isPasswordsMatching(newPassword, confirmPassword),
                    'is-invalid': confirmPassword && !isPasswordsMatching(newPassword, confirmPassword)
                  }">
                
                <!-- Tooltip de validación exitosa -->
                <div class="valid-tooltip">
                  ¡Las contraseñas coinciden!
                </div>
                
                <!-- Tooltip de error en validación -->
                <div class="invalid-tooltip">
                  Las contraseñas no coinciden.
                </div>
          
                <!-- Icono de ojo para mostrar/ocultar contraseña -->
                <i class="fas fa-eye position-absolute toggle-password1"
                  (click)="togglePasswordVisibility('confirmPassword', 'toggleConfirmPassword')"
                  id="toggleConfirmPassword"></i>
              </div>
          
              <!-- Botón para crear la contraseña -->
              <button type="submit" class="btn btn-success3"
                [disabled]="!isValidPassword(newPassword) || !isPasswordsMatching(newPassword, confirmPassword)">
                Crear contraseña
              </button>

                        <!-- Overlay de carga -->
                        <div *ngIf="loading" class="loading-overlay">
                          <div class="spinner-border text-primary" role="status">
                            <span class="sr-only">Cargando...</span>
                          </div>
                        </div>
        
          
              <!-- Botón para regresar -->
              <div class="button-group d-flex justify-content-between">
                <button type="button" class="btn btn-secondary2" (click)="confirmExitToStep2()">Atrás</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
